:root {
    --gray: rgb(51, 51, 51);
    --gray1: rgba(51, 51, 51, 0.8);
    --gray2: rgba(51, 51, 51, 0.6);
    --gray3: rgba(51, 51, 51, 0.4);
    --gray4: rgba(51, 51, 51, 0.2);
    --black: black;
    --white: white;
    --correct: green;
    --wrong: red;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    margin: 0;
}
